# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.build/
.cache/

# Frameworks comunes
.next/
.nuxt/
.out/
.vercel/
.netlify/

# Vite / Astro
.vite/
.svelte-kit/
astro/.astro/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
